matplotlib
torchvision
tqdm
onnx
onnxoptimizer
onnxsim
di-toolkit
tensorboard
accelerate
natsort
tabulate
torch
speechbrain
requests
pyarrow
pandas
langdetect
pyquery
onnxscript
transformers
click
datasets
evaluate